{% extends 'teacher/base.html' %}
{% load humanize %}
{% block title %}Teachers List{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th><abbr title="Identification card">CC</abbr></th>
            <th><abbr title="Work Hours">WH</abbr></th>
            <th><abbr title="Value Work">VW</abbr></th>
            <th><abbr title="Gross Salary">GS</abbr></th>
            <th><abbr title="Extras">Ex</abbr></th>
            <th><abbr title="Parafiscal Entreprise">PE</abbr></th>
            <th><abbr title="Parafiscal Worker">PW</abbr></th>
            <th>>Bonus</th>
            <th><abbr title="Severance">Sv</abbr></th>
            <th><abbr title="Severance Interest">SI</abbr></th>
            <th><abbr title="Vacation">Vc</abbr></th>
            <th><abbr title="Health">Hth</abbr></th>
            <th><abbr title="Pension">Ps</abbr></th>
            <th><abbr title="Salary">Sal</abbr></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th><abbr title="Identification card">CC</abbr></th>
            <th><abbr title="Work Hours">WH</abbr></th>
            <th><abbr title="Value Work">VW</abbr></th>
            <th><abbr title="Gross Salary">GS</abbr></th>
            <th><abbr title="Extras">Ex</abbr></th>
            <th><abbr title="Parafiscal Entreprise">PE</abbr></th>
            <th><abbr title="Parafiscal Worker">PW</abbr></th>
            <th>>Bonus</th>
            <th><abbr title="Severance">Sv</abbr></th>
            <th><abbr title="Severance Interest">SI</abbr></th>
            <th><abbr title="Vacation">Vc</abbr></th>
            <th><abbr title="Health">Hth</abbr></th>
            <th><abbr title="Pension">Ps</abbr></th>
            <th><abbr title="Salary">Sal</abbr></th>
        </tr>
        </tfoot>
        <tbody>
        {% for user in total_users %}
            <tr>
                <th>{{ user.user.id }}</th>
                <th>{{ user.user.name }}</th>
                <th>{{ user.user.cc }}</th>
                <th>{{ user.user.work_hour|intcomma }}</th>
                <th>{{ user.user.value_work|intcomma }}</th>
                <th>{{ user.gross|intcomma }}</th>
                <th>{{ user.extras|intcomma }}</th>
                <th>{{ user.parafiscal_enterprise|intcomma }}</th>
                <th>{{ user.parafiscal_worker|intcomma }}</th>
                <th>{{ user.bonus|intcomma }}</th>
                <th>{{ user.severance|intcomma }}</th>
                <th>{{ user.severance_interest|intcomma }}</th>
                <th>{{ user.vacation|intcomma }}</th>
                <th>{{ user.health|intcomma }}</th>
                <th>{{ user.pension|intcomma }}</th>
                <th>{{ user.salary|intcomma }}</th>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <a href="{% url 'teacher:home' %}">
        <button class="button is-small is-info">Volver</button>
    </a>
{% endblock %}